doctype
html
  head
    title QA App
    script(src='//code.jquery.com/jquery-2.0.2.min.js')
    script(src='/vendor/js/bootstrap.min.js')
    script(src='/vendor/js/moment.js')
    script(src='/vendor/js/handlebars.js')
    link(rel='stylesheet' href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet' href='/vendor/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/css/custom.css')
    link(rel='shortcut icon' type="image/x-icon" href="/img/favicon.ico")
    block extraHeaders
  body
    .navbar.navbar-inverse
      .container-fluid
        .navbar-header
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') New Test
              li
                a(href='/test-results') Test Results
              li
                a(href='/util') Util

    .container
      if flash
        .alert.alert-dismissible(class= 'alert-'+flash.type)
          button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
          strong= flash.intro
          p= flash.message
      #content
        block content