extend layouts/main

block content
  #main.panel.panel-default
    .panel-heading New Test
    .panel-body
      .error-container
        .alert.alert-danger
          p#errorMessage
      form(class='form-horizontal' role='form' action='/run-tests' method='post')
        .form-group
          label(for='testNumber').col-sm-3.control-label Test
          .col-sm-9
            select(id='testNumber' name='testNumber').form-control
              each script in scripts
                option(value=script.id data-test-env=script.environment)= script.name
        .form-group#portNumberGroup
          label(for='portNumber').col-sm-3.control-label Port
          .col-sm-9
            input.form-control(type='number' id='portNumber' name='portNumber')
        .form-group
          label(for='testFiles').col-sm-3.control-label Files
          .col-sm-9
            select.form-control(id='testFiles' name='testFiles')
              option(value='runAll' name='all') All
              option(value='custom' name='custom') Custom
            each script in scripts
              .test-files-container.hidden(data-test-number=script.id)
                each file in script.testFiles
                  .checkbox
                    label
                      input(type='checkbox' name='fileWhitelist[]' value=file checked disabled=true)
                      = file

        button.btn.btn-primary.btn-block(type='submit') Run Test

  script.
    var MIN_PORT = 3001
    var MAX_PORT = 3007

    function getEnv() {
      var testId = $('#testNumber').val();
      return $('option[value="'+testId+'"]').data('test-env');
    }

    function togglePortNumber() {
      if (getEnv() == 'production') {
        $('#portNumberGroup').hide();
      } else {
        $('#portNumberGroup').show();
      }
    }

    function toggleTestFilesContainer() {
      $('.test-files-container').addClass('hidden');
      $('.test-files-container input').attr('disabled', true);

      if ($('#testFiles').val() == 'custom') {
        var testNumber = $('#testNumber').val();
        $('.test-files-container[data-test-number="'+testNumber+'"]').removeClass('hidden');
        $('.test-files-container[data-test-number="'+testNumber+'"] input').attr('disabled', false);
      }
    }

    $('#testNumber').on('change', function() {
      togglePortNumber();
      toggleTestFilesContainer();
    });

    $('#testFiles').on('change', function() {
      toggleTestFilesContainer();
    });

    $('form').submit(function() {
      var portNumber = Number($('#portNumber').val());

      if(getEnv() == 'staging' && (portNumber < MIN_PORT || portNumber > MAX_PORT)) {
        $('#errorMessage').text('Please enter a valid port number: '+ MIN_PORT + ' - ' + MAX_PORT);
        $('.error-container').show();
        return false;
      } else if (getEnv() == 'production') {
        $('#portNumber').val("");
        return true;
      } else {
        return true;
      };
    });

    togglePortNumber();
    toggleTestFilesContainer();

