extend layouts/main
block content
  #main.panel.panel-default
    .panel-heading Utilities
    .panel-body
      form(class='form-horizontal' role='form' action='/remove-old-test-data' method='post')
        button.btn.btn-primary.btn-block(type='submit') Remove Old Test Data
