body {
  background-color: #ccc;
}

#content {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.bold {
  font-weight: bold;
}

.green {
  color: #5CB85C;
}

.yellow {
  color: #F0AD4E;
}

.red {
  color: #CE4844;
}

.white-space {
  white-space: pre-line;
  display: table;
}

.error-container {
  display: none;
}

/* Test Results Page */
#testResultsPanel {
  margin: 0 auto;
}

#testResultsPanel img {
  width: 100%;
}

.error-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.error-body {
  padding-left: 20px;
}

.error-panel .row {
  padding-bottom: 10px;
}

a.stack-link {
  color: white;
  font-weight: 300;
}

.panel-heading div {
  display: inline-block;
}

.panel-heading .actions {
  float: right;
}

.dividing-line {
  border-top: 1px solid #888;
  padding-left 10px;
  padding-right 10px;
}

/* Test Initiator Page */
#main {
  width: 500px;
  margin: 0 auto;
}

/* Test Results Page */
.test-results-table {
  background-color: white;
}

.test-results-table .section-header {
  border-bottom-color: rgb(60, 196, 214);
  border-bottom-style: solid;
  border-bottom-width: 2;
}

.test-results-table .section-header th {
  background-color: rgb(42, 100, 150);
  color: white;
}

.url-container {
  padding-bottom: 10px;
}
.url {
  word-wrap: break-word;
}

#imageModal .modal-dialog {
  width: 90%;
}

#imageModal img {
  width: 100%;
}

/* Util Page */
.util-section {
  margin-bottom: 20px;
}



/* 
  this fixes the CSS bug when backbone adds templates 
  not sure why it's breaking in the 1st place

.error-panel .row, .error-panel .col-sm-2, .error-panel .col-sm-6, 
.error-panel .col-sm-10 {
  display: flex;
}
*/